{% extends 'base.html' %}
{% block content %}

<header class="masthead" >
    <section class="page-section bg-info mt-15 text-success" style="margin: 10rem 2rem 2rem 2rem; padding: 1rem" id="connect">
        <div class="container px-4 px-lg-5">
            <div class="col-lg-12 col-md-12 text-center">
                <h2 class="text-center mt-0">Connectez-vous</h2>
                <hr class="divider"></hr>
                <p> {{ message }} </p>
                <form class="pt-1" method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <button class="btn btn-primary text-info" type="submit"> Se connecter </button>
                    <a href={% url "home" %}>
                        <button class="btn btn-primary text-info" type="button"> Retour </button>
                    </a>
                </form>
                <p class="pt-4">Pas encore inscrit ? <a href="{% url 'signup' %}">Inscrivez-vous maintenant !</a></p>
            </div>
        </div>
    </section> 
</header>
{% endblock content %}