{% extends 'base.html' %}

{% block content %} 
<header class="masthead">
    <section class="page-section bg-info text-center" style="margin: 10rem 2rem 2rem 2rem; padding: 1rem"
             style="padding: 1rem;"
             id="connect">
        <div class="container px-4 px-lg-5 text-success">
            <div class="row">
                <div class="col-12">
                    <h2>Modifier vos informations</h2>
                    <hr class="divider"></hr>
                    <form method="post">
                        {% for field in form %}
                        <div class="row mh-10">
                            <div class="input-group justify-content-center">
                                <div class="col-12 col-md-6 pt-2">
                                    {{ field.label|capfirst }}
                                </div>
                                <div class="col-12 col-md-6 pb-2">
                                    {{ field }}
                                </div>
                            </div>
                        </div>
                        {% csrf_token %}
                        {% endfor %}
                        <a class="btn btn-primary text-info btn-block align-middle mt-3 m-0" href="{% url 'profile_page' %}">Retour</a>
                        <button class="btn btn-primary text-info btn-block align-middle mt-3 m-0" type="submit">Soumettre</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</header>
{% endblock content %}