{% extends 'base.html' %}
{% block content %}
<header class="masthead">
    <section class="page-section bg-info m-5 text-center text-success" 
             style="padding: 1rem;
                    font-weight: bold;" 
             id="connect">
        <div class="container px-4 px-lg-5 ">
            <div class="row justify-content-center">
                <div class="col-12 ">
                    <h2 style="text-decoration: underline;">Inscription</h2>
                    <form method="post">
                        {% if form.errors %}
                        <div>
                            {{ form.errors.as_p}}
                        </div>
                        {% endif %}
                        {% for field in form %}
                            <div class="row mh-10">
                                <div class="input-group">
                                    <div class="col-12 col-md-6 py-2">
                                        {% if field.label == "Username" %}
                                            Nom d'utilisateur
                                        {% elif field.label == "Mot de passe" %}
                                            {{field.label}} (10 caractères minimum)
                                        {% else %}
                                            {{field.label}}
                                        {% endif %}
                                    </div>
                                    <div class="col-12 col-md-6 rounded text-primary">
                                        {{ field }}
                                    </div>
                                </div>
                            </div>
                        {% csrf_token %}
                        {% endfor %}
                        <button type="submit" 
                                class="btn btn-primary btn-block align-middle mt-3 m-0">
                            S’inscrire
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</header>
{% endblock content %}