{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-info font-weight-bold">Du gras, oui, mais de qualité!</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <h2 class="text-info mb-5">Trouvez un produit de substitution pour ceux que vous consommez tous les jours.</h2>
                <div class="input-group justify-content-center p-2">
                    <form action="{% url "user_search" %}" method='get'>
                        <input type="search" name="query" class="border rounded text-primary align-middle m-0" placeholder="Produit" style="background-color:#EEE; height: 100%" aria-label="Search" aria-describedby="search-addon" />
                        <button type="submit" class="btn btn-primary btn-block align-middle m-0">Chercher</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="page-section bg-info" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-primary mt-0">Colette et Remy</h2>
                <hr class="divider"></hr>
                <p class="text-primary" style="font-size:23px">Nous sommes une jeune startup fondée par Remy et Colette Tatou,
                    deux restaurateurs de renom. Notre restaurant, situé à Montmartre (Paris), compte une
                     cinquantaine de couverts et ne désemplit pas. Notre spécialité, la ratatouille, nous
                      attire une clientèle internationale charmée par les délices de ce plat typique.
                </p>
            </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="card bg-info text-center mb-3 border-0" style="width:400px;" >
                <div class="card-body" >
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/fullsize/colette-7.jpg'%}" alt="..."/>
                    <h3 class="text-primary">Colette</h3>
                </div>
            </div>
            <div class="card bg-info text-center mb-3 border-0" style="width:400px;">
                <div class="card-body">
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/fullsize/remy-5.jpg'%}" alt="..."/>
                    <h3 class="text-primary">Remy</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact-->
<section class="page-section bg-warning p-4" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-success mt-0">Contactez-nous !</h2>
                <hr class="divider"></hr>
                <p class="text-success" style="font-size:23px">
                    Afin d'améliorer notre service ou pour tout renseignement supplémentaire,
                    Nous restons joignables par telephone ou par mail.
                </p>
            </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-6">
                <div class="card bg-warning text-center border-0">
                    <div class="card-body">
                        <i class="bi bi-telephone-fill fs-1 text-success"></i>
                        <h3 class="text-success pt-3" style="font-size:18px">00 00 00 00 00</h3>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card bg-warning text-center mb-3 border-0">
                    <div class="card-body" style="height:50px">
                        <i class="bi bi-envelope fs-1 text-success"></i>
                        <h3 class="text-success pt-3" style="font-size:18px;">mail@mail.com</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}