{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class='page-section bg-warning' id='all_aliments'>
    <div class='container-fluid px-5 my-4' style='min-height:65%;'>
        <div class='text-success text-center bg-info'>
            <div class="container">
                <h1 class="py-4">Mentions Légales</h1>
                <div>
                    <h2 class="py-2">1 - Société exploitant le site</h2>
                    <p>Le site internet <a href="/">-'to do'-</a> est édité par la société Pur Beurre.
                        <br>Ses locaux sont situés à Montmartre, Paris.
                    </p>
                    <h2 class="py-2">2 - Directeur de publication</h2>
                    <p>Le directeur de publication est <a class='text-primary' href="https://github.com/Gotha01">Faure Quentin</a>, en sa qualité de Développeur Python.<br> Pour toute question ou réclamation, veuillez le contacter:
                    <ul style="list-style-type: none;">
                        <li>Par mail: mail.mail@mail.mail</li>
                        <li>Par téléphone : 0606060606</li>
                    </ul>
                    </p>
                    <h2 class="py-2">3 - Données Personnelles</h2>
                    <p>La société PUR BEURRE s'engage à ne pas divulguer les informations déposées sur le site par l'utilisateur<br> lors de sa navigation sur le site à toute personne ou société.</p>
                    <h2 class="py-2">4 - Droit de propriété intellectuelle et industrielle</h2>
                    <p class="pb-5">
                        L'ensemble des éléments édités au sein du site internet sont la propriété de PUR BEURRE,<br>
                        toute reproduction est interdite et la société se réserve le droit d'engager des poursuites le cas échéant.<br>
                        Les articles uploadés sur le site sont suceptibles d'être modifiés (changement de forme, taille ...), ou même d'être supprimés.<br>
                        De ce fait, les images ne sont pas forcéments contractuelles.<br>
                        Le site entier a été réalisé par Faure Quentin et toute reproduction est strictement illégale sans son consentement.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}