<div class='col-lg-812 text-primary text-center'>
    <h2 class='my-5'>Oups !<br> Veuillez remplir ce champ avant de valider la recherche.</h2>
    <div class='input-group justify-content-center p-2'>
        <form action='{% url "user_search" %}' method='get'>
            <input type='search' 
                name='query' 
                class='border rounded align-middle m-0' 
                placeholder='Produit' 
                style='background-color:#EEE; height: 100%' 
                aria-label='Search' 
                aria-describedby='search-addon' />
            <button type='submit' 
                    class='btn btn-primary btn-block align-middle m-0'>Chercher</button>
        </form>
    </div>
</div>