{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--Search products-->
<section class="page-section bg-info" id="all_aliments">
    <div class="container-fluid px-5" style="min-height:65%;">
        <div class="row">
            {% if lenproducts != "0"%}
                {% for element in products %}
                    <div class="col-xl-4 p-4">
                        {% if element.nustriscore == "a" %}
                        <div class="d-flex justify-content-end">
                            <img src="{% static "assets/img/alphabeta.png" %}" 
                                class=""
                                style="margin-right:30%; width:65px; height:auto;" 
                                alt="">
                        </div>
                        {% elif element.nustriscore == "b" %}
                        <div class="d-flex justify-content-end">
                            <img src="{% static "assets/img/alphabetb.png" %}" 
                                class=""
                                style="margin-right:30%; width:65px; height:auto" 
                                alt="">
                        </div>
                        {% elif element.nustriscore == "c" %}
                        <div class="d-flex justify-content-end">
                            <img src="{% static "assets/img/alphabetc.png" %}" 
                                class=""
                                style="margin-right:30%; width:65px; height:auto" 
                                alt="">
                        </div>
                        {% elif element.nustriscore == "d" %}
                        <div class="d-flex justify-content-end">
                            <img src="{% static "assets/img/alphabetd.png" %}" 
                                class=""
                                style="margin-right:30%; width:65px; height:auto" 
                                alt="">
                        </div>
                        {% elif element.nustriscore == "e" %}
                        <div class="d-flex justify-content-end">
                            <img src="{% static "assets/img/alphabete.png" %}" 
                                class=""
                                style="margin-right:30%; width:65px; height:auto" 
                                alt="">
                        </div>
                        {% endif %}
                        <div class="p-3" style="height: 250px; text-align: center">
                            <img src="{{ element.image }}" 
                                class="rounded"
                                style="max-height: 100%; max-width:100% ;width: auto;"
                                alt="..." title="{{ element }}-image">
                        </div>
                        <div class="" style="height:150px">
                            <a href="{% url 'product_page' element.id %}" style="text-decoration: none;">
                                <h1 class="text-center text-primary" style="font-size: 22px;">{{ element }}</h1>
                                {% if user.is_authenticated %}
                                <div class="d-flex justify-content-center text-primary ">
                                    <label for="rec-product" class="align-self-end" style="font-size: 20px; padding:5px;">Sauvegarder  </label>
                                    <input type="checkbox"style="vertical-align: middle;" id="rec-product" name="rec-product">
                                </div>
                                {% endif %}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-lg-812 text-primary text-center">
                    <h2 class="my-5">Désolé !<br> Aucun produit ne correspond à votre recherche.</h2>
                    <div class="input-group justify-content-center p-2">
                        <form action="{% url "user_search" %}" method='get'>
                            <input type="search" name="query" class="rounded align-middle m-0" placeholder="Produit" style="background-color:#EEE; height: 100%" aria-label="Search" aria-describedby="search-addon" />
                            <button type="submit" class="btn btn-primary btn-block align-middle m-0">Chercher</button>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}